.navbar1-wrapper {
  display: contents;
}
 
.navbar1-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-navbar-interactive {
  width: 100%;
  height: 117px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar1-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 1055px;
  height: 74px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar1-link11 {
  font-size: 24px;
  text-decoration: none;
}
 
.navbar1-link31 {
  font-size: 24px;
  text-decoration: none;
}
 
.navbar1-link41 {
  font-size: 24px;
  text-decoration: none;
}
 
.navbar1-burger-menu {
  display: none;
}
 
.navbar1-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar1-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-link12 {
  text-decoration: none;
}
 
.navbar1-link32 {
  text-decoration: none;
}
 
.navbar1-link42 {
  text-decoration: none;
}
 
.navbar1-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar1-link {
  display: contents;
}
 
.navbar1-icon5 {
  text-decoration: none;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 

 

 

 

 
@media(max-width: 767px) {
  .navbar1-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar1-desktop-menu {
    display: none;
  }
  .navbar1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar1-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar1-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.banner-home-wrapper {
  display: contents;
}
 
.banner-home-container1 {
  gap: var(--dl-layout-space-unit);
  height: 380px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #000030;
}
 
.banner-home-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.banner-home-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner-home-title {
  color: #fac225;
  font-size: 66px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 700;
}
 
.banner-home-text1 {
  font-style: normal;
  font-weight: 400;
}
 
.banner-home-navlink {
  text-decoration: none;
  background-color: #fac225;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  color: rgb(250, 194, 37);
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}

.content-list1-wrapper {
  display: contents;
}
 
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.content-list1-ul {
  align-items: flex-start;
}
 
.content-list1-li {
  font-family: "DM Sans";
}
 
.content-list1-heading1 {
  align-self: flex-start;
}
 
.content-list1-content {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
  font-size: 40px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 700;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
  font-family: "DM Sans";
}
 
.home-text17 {
  font-family: "DM Sans";
}

.contact11-wrapper {
  display: contents;
}
 
.contact11-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-max-width {
  align-self: center;
}
 
.contact11-section-title {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.contact11-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text1 {
  font-family: "DM Sans";
}
 
.contact11-content2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact11-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-icon1 {
  align-self: center;
}
 
.contact11-contact-info1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text2 {
  align-self: center;
  text-align: center;
  font-family: "DM Sans";
}
 
.contact11-email {
  align-self: center;
  text-align: center;
}
 
.contact11-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-icon3 {
  align-self: center;
}
 
.contact11-contact-info2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact11-text3 {
  align-self: center;
  text-align: center;
  font-family: "DM Sans";
}
 
.contact11-address {
  font-size: 18px;
  text-align: center;
}
 
.contact11-google-maps {
  width: 815px;
  height: 663px;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
  font-family: "DM Sans";
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
  font-size: 18px;
}
 

 
@media(max-width: 991px) {
  .contact11-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer1-wrapper {
  display: contents;
}
 
.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 48, 0.59);
}
 
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-content {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.footer1-huda-mun {
  gap: 24px;
  width: 500px;
  height: 258px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-text10 {
  top: 0px;
  bottom: 0px;
  margin: auto;
  position: sticky;
  font-size: 3em;
  align-self: center;
}
 
.footer1-links {
  gap: var(--dl-layout-space-twounits);
  width: 854px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer1-column11 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-column1-title1 {
  align-self: center;
}
 
.footer1-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  height: 205px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-text11 {
  align-self: center;
  text-align: center;
}
 
.footer1-column12 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-column1-title2 {
  align-self: center;
}
 
.footer1-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  height: 205px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-text12 {
  align-self: center;
}
 
.footer1-column2 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: none;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-footer-links3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-column3 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-social-links {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link1 {
  display: contents;
}
 
.footer1-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text57 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
  font-size: 18px;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text49 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text53 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
  font-size: 24px;
  font-family: "DM Sans";
  font-weight: 600;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text54 {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text43 {
  display: inline-block;
}
 
.footer1root-class-name {
  background-color: rgba(0, 0, 173, 0.51);
}
 
.footer1root-class-name1 {
  background-color: rgba(0, 0, 173, 0.51);
}
 

 

 

 
@media(max-width: 991px) {
  .footer1-huda-mun {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .footer1-content {
    flex-direction: column;
  }
  .footer1-huda-mun {
    width: 100%;
  }
  .footer1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer1-column11 {
    align-items: center;
  }
  .footer1-column1-title1 {
    text-align: center;
  }
  .footer1-footer-links1 {
    align-self: center;
  }
  .footer1-column12 {
    align-items: center;
  }
  .footer1-column1-title2 {
    text-align: center;
  }
  .footer1-footer-links2 {
    align-self: center;
  }
  .footer1-column2 {
    align-items: center;
  }
  .footer1-column2-title {
    text-align: center;
  }
  .footer1-footer-links3 {
    align-self: center;
  }
  .footer1-column3 {
    align-items: center;
  }
  .footer1-social-link1-title {
    text-align: center;
  }
  .footer1-social-links {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer1-links {
    flex-direction: column;
  }
  .footer1-column11 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column12 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links3 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-social-links {
    align-items: center;
    justify-content: center;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  color: rgb(250, 194, 37);
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
  font-family: "DM Sans";
}
 
.home-text17 {
  font-family: "DM Sans";
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
  font-size: 40px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 700;
}
 
.home-container2 {
  width: 100%;
  height: 52px;
}
 
.home-container3 {
  display: contents;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
  font-size: 18px;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
  font-family: "DM Sans";
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text43 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
  font-size: 18px;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text49 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
  font-size: 24px;
  font-family: "DM Sans";
  font-weight: 600;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text53 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text54 {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text57 {
  display: inline-block;
}
