.banner-apps-container {
  gap: var(--dl-layout-space-unit);
  height: 380px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #000030;
}
 
.banner-apps-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.banner-apps-title {
  top: 0px;
  left: 0px;
  color: #fac225;
  right: 0px;
  bottom: 0px;
  height: 92px;
  margin: auto;
  position: sticky;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 700;
}
 
.banner-apps-fragment {
  display: contents;
}
 
.banner-apps-text {
  display: inline-block;
}
 

