.banner-home-container1 {
  gap: var(--dl-layout-space-unit);
  height: 480px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: center;
  background-color: #000030;
  background-image: url("public/2880px-city_lights_2012_-_flat_map_crop-1500w.jpg");
  background-repeat: space;
  background-position: center;
}
 
.banner-home-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 446px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.banner-home-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner-home-image {
  width: 200px;
  object-fit: cover;
}
 
.banner-home-title {
  color: #fac225;
  font-size: 66px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 700;
}
 
.banner-home-text1 {
  font-style: normal;
  font-weight: 400;
}
 
.banner-home-navlink {
  text-decoration: none;
  background-color: #fac225;
}
 
.banner-home-fragment1 {
  display: contents;
}
 
.banner-home-text3 {
  display: inline-block;
}
 
.banner-home-fragment2 {
  display: contents;
}
 
.banner-home-text4 {
  color: rgb(250, 194, 37);
  display: inline-block;
}
 
.banner-home-fragment3 {
  display: contents;
}
 
.banner-home-text5 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .banner-home-max-width {
    height: 386px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .banner-home-title {
    font-size: 54px;
  }
}
