.component-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.component-container2 {
  flex: 0 0 auto;
  margin: var(--dl-layout-space-fourunits);
  display: flex;
  flex-direction: column;
}
 
.component-slider {
  width: 500px;
  height: 300px;
  display: inline-block;
}
 
.component-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698778574083-279be0ac6681?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzU2N3w&ixlib=rb-4.0.3&q=80&w=1080');
}
 
.component-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=1080');
}
 
.component-slider-pagination {
  display: none;
}
 
.component-slider-button-prev {
  display: block;
}
 
.component-slider-button-next {
  display: block;
}
 
.component-text11 {
  width: 60%;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "DM Sans";
  font-weight: 400;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  margin-right: var(--dl-layout-space-oneandhalfunits);
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.component-fragment1 {
  display: contents;
}
 
.component-text12 {
  display: inline-block;
}
 
.component-fragment2 {
  display: contents;
}
 
.component-text13 {
  display: inline-block;
}
