.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 48, 0.59);
}
 
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-content {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.footer1-huda-mun {
  gap: 24px;
  width: 500px;
  height: 258px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-text10 {
  top: 0px;
  bottom: 0px;
  margin: auto;
  position: sticky;
  font-size: 3em;
  align-self: center;
}
 
.footer1-links {
  gap: var(--dl-layout-space-twounits);
  width: 854px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer1-column11 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-column1-title1 {
  align-self: center;
}
 
.footer1-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  height: 205px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-text11 {
  align-self: center;
  text-align: center;
}
 
.footer1-column12 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-column1-title2 {
  align-self: center;
}
 
.footer1-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  height: 205px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-text12 {
  align-self: center;
}
 
.footer1-column2 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: none;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-footer-links3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-column3 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-social-links {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link1 {
  display: contents;
}
 
.footer1-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-fragment10 {
  display: contents;
}
 
.footer1-text13 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 300;
}
 
.footer1-fragment11 {
  display: contents;
}
 
.footer1-text21 {
  display: inline-block;
}
 
.footer1-fragment12 {
  display: contents;
}
 
.footer1-text22 {
  display: inline-block;
}
 
.footer1-fragment13 {
  display: contents;
}
 
.footer1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.footer1-fragment14 {
  display: contents;
}
 
.footer1-text24 {
  display: inline-block;
}
 
.footer1-fragment15 {
  display: contents;
}
 
.footer1-text25 {
  display: inline-block;
}
 
.footer1-fragment16 {
  display: contents;
}
 
.footer1-text26 {
  display: inline-block;
}
 
.footer1-fragment17 {
  display: contents;
}
 
.footer1-text27 {
  display: inline-block;
}
 
.footer1-fragment18 {
  display: contents;
}
 
.footer1-text28 {
  display: inline-block;
  font-size: 24px;
  font-family: "DM Sans";
  font-weight: 600;
}
 
.footer1-fragment19 {
  display: contents;
}
 
.footer1-text31 {
  display: inline-block;
  font-size: 24px;
  font-family: "DM Sans";
  font-weight: 600;
}
 
.footer1-fragment20 {
  display: contents;
}
 
.footer1-text34 {
  display: inline-block;
}
 
.footer1-fragment21 {
  display: contents;
}
 
.footer1-text35 {
  display: inline-block;
}
 
.footer1root-class-name {
  background-color: rgba(0, 0, 173, 0.51);
}
 
.footer1root-class-name1 {
  background-color: rgba(0, 0, 173, 0.51);
}
 

 

 

 
@media(max-width: 991px) {
  .footer1-huda-mun {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .footer1-content {
    flex-direction: column;
  }
  .footer1-huda-mun {
    width: 100%;
  }
  .footer1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer1-column11 {
    align-items: center;
  }
  .footer1-column1-title1 {
    text-align: center;
  }
  .footer1-footer-links1 {
    align-self: center;
  }
  .footer1-column12 {
    align-items: center;
  }
  .footer1-column1-title2 {
    text-align: center;
  }
  .footer1-footer-links2 {
    align-self: center;
  }
  .footer1-column2 {
    align-items: center;
  }
  .footer1-column2-title {
    text-align: center;
  }
  .footer1-footer-links3 {
    align-self: center;
  }
  .footer1-column3 {
    align-items: center;
  }
  .footer1-social-link1-title {
    text-align: center;
  }
  .footer1-social-links {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer1-links {
    flex-direction: column;
  }
  .footer1-column11 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column12 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links3 {
    align-items: center;
    justify-content: center;
  }
  .footer1-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-social-links {
    align-items: center;
    justify-content: center;
  }
}
